body {
  background: #CDE7B0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

header {
  background-color: #59594A;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 100px;
  size: 46px;
  line-height: 0px;
  letter-spacing: 0.6em;  
}

.title {
  font-weight: 100;
}

.container {
  width: 80%;
  margin: 0 auto;
}

section {
  width: 70%;
  float: left;
  margin-bottom: 100px;
}

aside {
  float: right;
  width: 25%;
}

footer{
  clear: both;
  background-color: #7286A0;
  padding: 50px 0;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 100px;
}

