* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(1em + 0.5vw);
}

body {
    font-size: 0.6em;
    line-height: 1.5;
    margin: 0;
    background: rgb(207, 23, 23);
    background: linear-gradient(90deg, rgba(207, 23, 23, 1) 0%, rgba(246, 184, 24, 1) 100%);
    background-image: url('https://unsplash.com/photos/IXUM4cJynP0/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8OXx8c2hhcGVzfGVufDB8fHx8MTY1Mzc5MTMyNA&force=true');
    min-width: 100%;
    background-position: center;
    background-size: cover;

}

.container {
    margin: 0 auto;
    max-width: 90vw;
    width: 100%;
}

.container:before,
.container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

@media (min-width: 993px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1201px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1601px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 750px) {
    .maincontent {
        max-width: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pic-base {
        display: flex;
        flex-direction: column;
    }

    .botfloor {
        display: flex;
        flex-direction: column;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .nav li {
        margin-left: 0px;
    }
}


.demos {
    height: auto;
    width: auto;
}

.container {
    max-width: 1140px;
}

.topheader {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    position: absolute;
    color: white;
    min-height: 100px;
    width: auto;
    opacity: 1;
    z-index: 1;
}

/* .topstyle {
    flex-grow: 1;
    height: 30px;
    width: 300px;
    background-color: white;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
} */

.backimg {
    padding-top: 60px;
    text-align: center;
    margin-bottom: 0px;
}

.titletop {
    flex-grow: 1;
    max-width: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-bottom: 40px;
}

.top-title {
    color: white;
    font-weight: lighter;
    font-size: 30px;
    width: auto;
    text-align: left;
    background: rgb(122, 54, 219);
    background: linear-gradient(90deg, rgba(122, 54, 219, 0.5) 0%, rgba(167, 62, 255, 0) 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.push-right {
    margin-left: 20px;
}

.demo {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    z-index: 2;
}

.maincontent {
    display: flex;
    justify-content: space-between;
}

.pic-project {
    margin-left: 17%;
    width: 190px;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-look {
    font-size: 30px;
    text-decoration: none;
    color: white;
    background: rgb(122, 54, 219);
    background: linear-gradient(90deg, rgba(122, 54, 219, 0.5) 0%, rgba(167, 62, 255, 7) 100%);
    border-radius: 10px;
    font-weight: bolder;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

.link-look::before {
    content: '';
    background-color: hsla(184, 87%, 52%, .5);
    position: absolute;
    left: 0;
    border-radius: 10px;
    bottom: 3px;
    width: 100%;
    height: 0px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.link-look:hover::before {
    bottom: 0;
    height: 100%;
}

.project-text {
    display: flex;
    flex-direction: column;
}

.descriction-project {
    color: white;
    background: rgb(122, 54, 219);
    background: linear-gradient(90deg, rgba(122, 54, 219, 0.5) 0%, rgba(167, 62, 255, 7) 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    padding-left: 5px;
}

.pic-base {
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
}

.pic-holder {
    width: 190px;
    height: 190px;
    background-color: #d2def6;
    background-image: url('/img/myself200px.JPG');
    border: 5px solid white;
    box-shadow: 0px 0px 7px rgba(22, 14, 86, 0.7);
}

.whoiam {
    align-self: center;
    text-align: left;
    width: 400px;
    height: auto;
    background: rgb(122, 54, 219);
    background: linear-gradient(90deg, rgba(122, 54, 219, 0.5) 0%, rgba(167, 62, 255, 0) 100%);

}

.imatitle {
    color: white;
    font-weight: lighter;
    font-size: 30px;
    margin-left: 20px;
    width: 220px;
}

.hello {
    color: white;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-weight: lighter;
    font-size: 20px;
}

.imatitle .myname {
    color: white;
    font-weight: bolder;
}

.border-iam {
    padding-left: 10px;
    border-right: 3px solid white;
}

.pabout {
    color: white;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-weight: lighter;
    font-size: 18px;
}

.footerstyle {
    min-height: 100px;
    width: auto;
    opacity: 1;
    z-index: 1;
}

footer {
    background-color: rgba(22, 17, 120, 0.738);
    text-align: center;
    color: #9fa0a0;
    margin-bottom: 0px;
}

.copy-ritem {
    display: flex;
    justify-content: space-between;
}

.copyright {

    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.borderbot {
    display: flex;
    flex-grow: 1;
    padding-top: 10px;
    border-bottom: 1px solid white;
}

.nav1 {
    text-align: left;
}

.nav {
    list-style: none;
    color: white;
}

.nav1 a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
}

.nav1 a:hover {
    opacity: 1;
}

.nav-title {
    margin-top: 12px;
    font-size: 12px;
}

.container .botfloor {
    display: flex;
    justify-content: space-between;

}

.logoh2,
.plogo {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    color: white;
}

.plogo {
    max-width: 400px;
}

.nav-title {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    margin-left: 34px;
}

.nav {
    display: flex;
    justify-content: space-between;

}

.nav li {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 30px;
}

.myiconbot {
    width: 25px;
    height: 25px;
}