* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: calc(1em + 0.5vw);
}

body {
    font-size: 0.6em;
    line-height: 1.5;
    position: relative;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 90vw;
    width: 100%;
}

.container:before,
.container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

@media (min-width: 993px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1201px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1601px) {
    .container {
        max-width: 1280px;
    }
}

.demos {
    height: auto;
    width: 200px;
}

.container {
    max-width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header {
    background: rgb(207, 23, 23);
    background: linear-gradient(90deg, rgba(207, 23, 23, 1) 0%, rgba(246, 184, 24, 1) 100%);
    color: white;
    min-height: 100px;
    margin-bottom: 60px;
}

footer {
    padding: 40px 0;
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1653662835145-f1f82ffc798e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-size: cover;
    background-color: rgba(23, 25, 40, 0.9);
    text-align: center;
    color: #9fa0a0;
    margin-bottom: 0px;
}

footer .container {
    position: relative;
    z-index: 2;
}