{% extends 'base.html' %} {% block title %} 404 Ups!!! {% endblock %} {% block
content %}

<!--  -->

<div class="container" style="display: flex;
justify-content: center;">
  <div class="">
    <img
      src="https://images.unsplash.com/photo-1533374206871-33b8f07c216c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1412&q=80"
      class="warbler_404"
      alt="..."
    />
    <div style="text-align: right;"> <a class="link-secondary unsplash" href="https://unsplash.com/@ilumire"> @ilumire </a> </div>
    <div class="card-body" style="display: flex;
    justify-content: center;">   
      <p class="text-bg-secondary mt-2 fs-3"  style="border-radius: 5px;" >404! You should not be here!!!</p>
    </div>
  </div>
</div>

{% endblock %}