/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}


.story-list {
  max-height: 90vh;
  max-width: 100%;
  font-size: 20px;
  overflow-y: auto;
  overflow: auto;
  overflow-x: hidden;
  border-radius: 10px;
}

.story-list::-webkit-scrollbar {
  background-color: white;
  width: 5px;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.story-list::-webkit-scrollbar-thumb {
  background-color: #b4b4af;
  border-radius: 10px;
}

.stories-list>li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

.user-stories-list>li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}